@importtheme "_base";

@def my_ui_font "Segoe UI Semibold";
@def my_code_font "Cascadia Mono";
@def my_selected_color #007FD4;
@def my_selected_bgcolor #04395E;

QWidget {
    color: #cccccc;
    /*background: #252526;*/
}

/*
AboutDialog > QGroupBox > QWidget {
    background: transparent;
}*/

buddy_label_t,
ui_label_t,
IDAMainWindow,
QPushButton,
QTabBar,
QTableView QHeaderView:section,
QHeaderView,
QListView,
DockWidgetTitle > QWidget,
QTabWidget,
QComboBox,
QGroupBox,
QCheckBox,
QDialog QLabel,
QToolBar QWidget,
DockAreaDragTitle QWidget,
QToolTip,
QMenuBar,
QSpinBox,
QMenu,
QStatusBar,
QRadioButton {
    font-family: ${my_ui_font};
}

WaitDialog ui_label_t {
    font-size: 10px;
}

text_area_t,
QStatusBar QLabel,
QTextEdit,
QLineEdit,
CLIWidget QLineEdit {
    font-family: ${my_code_font};
    font-size: 10pt;
}

chooser_dirtree_widget_t,
tchooser_table_widget_t,
text_area_t,
IDAMainWindow,
QDialog,
IDADockWidget QWidget,
ida_form_widget_t
{
    background: #252526;
    color: #cccccc;
}


text_area_t > QWidget,
chooser_widget_container_t,
text_area_container_t {
    background: transparent;
}

#qt_scrollarea_vcontainer,
#qt_scrollarea_hcontainer
{
    background: transparent;
}

ColorsOptionsDialog {
    background-color: #252526;
}

type_editor_t>QWidget {
    background-color: transparent;
}

IDAView {
    border: none;
}

hexview_t {
    border: none;
}

QToolBar {
    /* Toolbar */
    background-color: #252526;
    border: none;
    padding: 8px 4px;
    spacing: 8px;
}

QToolBar QWidget {
    background: transparent;
    border: none;
}

/*bar below ida view */
QStatusBar {
    background: #252526;
}

QStatusBar>QSizeGrip {
    background: transparent;
}

QStatusBar>QSizeGrip:hover {
    background: transparent;
}

QStatusBar:item {
    border: none;
}

/*idas main status bar*/
IDAMainWindow>QStatusBar {
    height: 16px;
    padding: 0px;
    border: none;
    background: #006284;
}

IDAMainWindow>QStatusBar:item {
    border: none;
    background: #1c7e85;
    margin: -2;
}

IDAMainWindow>QStatusBar QWidget {
    color: #FFFFFF;
    border: none;
    margin-right: 5px;
    font-family: ${my_ui_font};
}

IDAMainWindow>QStatusBar QWidget:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    color: #FFFFFF;
    border: none;
}

QPushButton {
    /* Buttons */
    text-align: center;
    min-height: 23px;
    min-width: 50px;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 2px 10px;
    background: #116399;
    color: #ffffff;
    outline: none;
}

QPushButton:focus {
    border: 1px solid #1577B8;
}
QPushButton:hover {
    background: #1577B8;
}

QTreeView {
    /*background-color: #252526;*/
    outline: none;
    selection-color: #ffffff;
    selection-background-color: #04395e;
    border: 1px solid transparent;
}

QTreeView:item:focus {
    padding: -1px;
    border: 1px solid transparent;
    background-color: #04395e;
}

QTreeView QHeaderView:section {
    background-color: #1e1e1e;
    border: none;
    font-weight: bold;
    font-size: 10pt;
    padding: 4px 0px 4px 5px;
}


QLineEdit {
    /* Single line edit */
    border: 1px solid transparent;
    background: #1e1e1e;
    color: #cccccc;
    padding: 0px;
    height: 25px;
    max-height: 25px;
    min-height: 25px;
}

QLineEdit:focus {
    border: 1px solid ${my_selected_color};
}

QTabWidget::pane {
    padding: 0;
    border: none;
    background-color: transparent;
}

QTabWidget::tab-bar {
    left: 20px;
    qproperty-tabPosition: 2;
    qproperty-shape: 3;
}

QTabBar {
    color: #969696;
    background-color: #252526;
    border: none;
    qproperty-shape: 3;
}

QTabBar:tab {
    background-color: #2d2d2d;
    border-left: 1px solid #252526;
    border-right: 1px solid #252526;
    margin-right: 0px;
    height: 35px;
    max-height: 35px;
    min-height: 35px;
    padding: 0 5px;
    outline: none;
}

QTabBar:tab:selected {
    background-color: #1e1e1e;
    color: #ffffff;
    outline: none;
}

QTabBar:close-button {
    image: url("$RELPATH/icons/close.png");
    padding: 1px;
    border-radius: 5px;
}

QTabBar:close-button:hover {
    background: rgba(255, 255, 255, 0.1);
}

DockTabBar {
    qproperty-expanding: false;
    qproperty-drawBase: false;
}

DockTabBar:tab {
    max-width: 120px;
    min-width: 120px;
    padding-right: 5px;
}

QMenuBar {
    /* Menu bar & items */
    background-color: #3c3c3c;
    padding-left: 2px;
    padding: 2px 10px;
}

QMenuBar:active {
    background-color: #3c3c3c;
}

QMenuBar:item {
    background: transparent;
    color: #cccccc;
    border-radius: 5px;
    padding: 5px 8px;
}

QMenu {
    /*background-color: #252526;*/
    background: rgba(128, 128, 128, 0.1);
    padding: 6px 0px;
    border: 1px solid #454545;
    border-radius: 2px;
    /* workaround to QTBUG-86754 */
    icon-size: 0px;
}

QMenu:right-arrow {
    image: url("$RELPATH/icons/menu.png");
    width: 10px;
    height: 10px;
    margin: 5px 15px 5px 10px;
}

QMenu::item {
    border-radius: 5px;
    color: #cccccc;
    padding: 6px 25px;
    margin: 0px 5px;
}

QMenu::item:disabled {
    color: #5F5F5F;
}

QMenu::icon {
    padding-left: 13px;
}

QMenu:item:selected {
    background-color: #04395e;
}

QMenu:separator {
    height: 1px;
    background: #454545;
    width: 1px;
    margin: 5px 0px 4px 0px;
}

/* Table and headers */
QTableView {
    /*background-color: #252526;*/
    outline: none;
    selection-color: #ffffff;
    selection-background-color: #04395e;
    border: 1px solid transparent;
}

QTableView:item:focus {
    padding: -1px;
    border: 1px solid transparent;
    background-color: #04395e;
}

QTableView QHeaderView:section {
    background-color: #1e1e1e;
    border: none;
    font-weight: bold;
    padding: 7px 0px 1px 5px;
}

QTableView QTableCornerButton:section {
    background: #252526;
    border: 0px outset #000;
}

QListView {
    outline: none;
}

QListView:item:focus,
QListView:item:selected,
QListView:item:hover
{
    color: #ffffff;
    background-color: ${my_selected_bgcolor};
}

QCheckBox {
    background-color: #d8d8d8;
}

QCheckBox,
QLabel,
QRadioButton {
    background: transparent;
    outline: none;
}

QComboBox {
    /* Combobox which is editable or not editable */
    background: #3c3c3c;
    border: 1px solid transparent;
    padding: 4px;
    border-radius: 2px;
}

QComboBox:focus,
QComboBox:on {
    border: 1px solid #007FD4;
}

QComboBox QLineEdit {
    background: transparent;
    padding: 0;
    border: 0;
    margin-left: -4px;
    margin-top: -4px;
    padding-left: 4px;
}

QComboBox QLineEdit:focus {
    background: transparent;
    border: 0;
}

QComboBox:drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
    border: 3px;
}

QComboBox:down-arrow {
    image: url("$RELPATH/icons/drop-arrow.png");
}

QComboBox>QLineEdit {
    min-height: default;
}

QComboBox>QLineEdit:hover {
    min-height: default;
}

QComboBox>QLineEdit:focus {
    min-height: default;
}

QComboBox QAbstractItemView {
    background: #3c3c3c;
    border: 1px solid #007FD4;
    border-radius: 2px;
    selection-background-color: ${my_selected_bgcolor};
}


QComboBox QListView {
    border: 1px solid #007FD4;
    outline: 1px solid transparent;
    selection-background-color: ${my_selected_bgcolor};
    selection-color: #ffffff;
}

QTextEdit {
    /* Multiple line edit */
    background-color: #1E1E1E;
}

/* Navigator */
/* Align navigator handle to toolbar handle */
BarDockWidget[objectName^="Navigator"] > NoDockTitleBar {
    padding-left: 4px;
}

TNavBand > QPushButton,
nav_scroll_button_t {
    background: #252526;
    border: none;
    min-height: default;
    min-width: default;
    padding: default;
    border-radius: default;
}

nav_scroll_button_t:hover {
    background: rgba(255, 255, 255, 0.1);
}

RegJumpButton {
    min-height: 0;
    min-width: 0;
    border: none;
    padding: 0;
}

/* Dock widget which has tabs */
QDockWidget,
BaseDockWidget,
DockWidget {
    padding: 0;
}

DockWidgetTitle {
    background: #2D2D2D;
    height: 35px;
    max-height: 35px;
    min-height: 35px;
    padding: 0px;
    border: 0;
    margin: 0;
    color: #ffffff;
}

DockAreaDragTitle {
    border: none;
    background: #2D2D2D;
}

DockWidgetTitle[active="true"] {
    background: #252526;
}

/*max min float buttons*/
DockWidgetTitle QPushButton {
    min-height: 21px;
    height: 21px;
    min-width: 25px;
    padding: 0;
    background: transparent;
    border-radius: 3px;
}

DockWidgetTitle QPushButton:hover {
    background: rgba(255, 255, 255, 0.1);
}

DockWidgetTitle QPushButton[toolTip="Fullscreen"] {
    image: url("$RELPATH/icons/fullscreen.png");
    color: #C1C1C1;
    qproperty-icon: url("$RELPATH/icons/blank.png");
}

DockWidgetTitle QPushButton[toolTip="Float"] {
    background-color: transparent;
    image: url("$RELPATH/icons/float.png");
    color: #C1C1C1;
    qproperty-icon: url("$RELPATH/icons/blank.png");
}

DockWidgetTitle QPushButton[toolTip="Close"] {
    image: url("$RELPATH/icons/close.png");
    color: #C1C1C1;
    qproperty-icon: url("$RELPATH/icons/blank.png");
}

QScrollBar {
    /* Scrollbar */
    background-color: transparent;
    border: 0px solid #393939;
    margin: 0;
    padding: 0;
}

QScrollBar:horizontal {
    border-top-width: 1px;
    height: 12px;
}

QScrollBar:vertical {
    border-left-width: 1px;
    width: 12px;
}

QScrollBar:sub-line {
    width: 0;
    height: 0;
}

QScrollBar:add-line {
    width: 0;
    height: 0;
}

QScrollBar:add-page {
    background: none;
    width: 0;
    height: 0;
}

QScrollBar:sub-page {
    background: none;
    width: 0;
    height: 0;
}

QScrollBar:handle {
    background-color: rgba(121, 121, 121, 0.4);
}

QScrollBar:handle:vertical {
    min-height: 30px;
}

QScrollBar:handle:horizontal {
    min-width: 30px;
}

QScrollBar:handle:hover {
    background-color: rgba(100, 100, 100, 0.7);
}

ChooserContainer {
    border: 1px solid #3f3f3f;
}

QGroupBox {
    border: 1px solid #3f3f3f;
    margin-top: 12px;
    padding: 5px 10px;
}

QGroupBox:title {
    subcontrol-origin: margin;
    subcontrol-position: top left; /* position at the top center */
    padding: 0 3px;
    left: 10px;
    top: 4px;
}

CLIWidget QGroupBox {
    /*background-image: url("$RELPATH/icons/cliborder.png");*/
    background-repeat: repeat-x;
    background-color: #1E1E1E;
    margin: 0px;
    margin-bottom: -1px;
    padding: 0px;
    padding-top: 0px;
    padding-left: 0px;
}

CLIWidget QLineEdit {
    margin: 0px;
    margin-top: 1px;
    padding: 2px 1px;
    background-color: #1E1E1E;
    background-clip: border-box;
    border: none;
}

CLIWidget QLineEdit:focus {
    border: none;
}

CLIWidget QPushButton {
    border: none;
    padding: 3px 9px 4px 0px;
    margin: 0px;
    margin-left: 0px;
    background-clip: border-box;
    text-align: right;
    font-size: 10pt;
    color: #C5C5C5;

    background-color: #1E1E1E;
    background-image: url("$RELPATH/icons/prompt.png");
    background-size: 2px 2px;
    background-position: right center;
    background-repeat: no-repeat;
}

CLIWidget QPushButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    background-image: url("$RELPATH/icons/prompt.png");
    background-size: 2px 2px;
    background-position: right center;
    background-repeat: no-repeat;
}

CLIWidget QPushButton:focus {
    border: none;
}

CustomIDAMemo {
    /* current line background overlay */
    qproperty-line-bg-highlight: #474747;
    qproperty-line-bg-highlight-2: #E06C75;
    qproperty-line-bg-highlight-3: #9bc379;
    qproperty-line-bg-highlight-4: #e5c7be;
    qproperty-line-bg-highlight-5: #61afef;
    qproperty-line-bg-highlight-6: #c678dd;
    qproperty-line-bg-highlight-7: #56b6c2;
    qproperty-line-bg-highlight-8: #abb2bf;
    qproperty-line-bgovl-current-line: rgba(80, 80, 80, 0.25);
    qproperty-line-fg-default: #d8d8d8;
    qproperty-line-fg-regular-comment: #57a64a;
    qproperty-line-fg-repeatable-comment: #808080;
    qproperty-line-fg-automatic-comment: #858585;
    qproperty-line-fg-insn: #c8c8c8;
    qproperty-line-fg-dummy-data-name: #c8c8c8;
    qproperty-line-fg-regular-data-name: #9cdcfe;
    qproperty-line-fg-demangled-name: #dcdcaa;
    qproperty-line-fg-punctuation: #d8d8d8;
    qproperty-line-fg-charlit-in-insn: #d69d85;
    qproperty-line-fg-strlit-in-insn: #ffd68f;
    qproperty-line-fg-numlit-in-insn: #6A9955;
    qproperty-line-fg-void-opnd: #4ec9b0;
    qproperty-line-fg-code-xref: #57a64a;
    qproperty-line-fg-data-xref: #8080ff;
    qproperty-line-fg-code-xref-to-tail: #d85050;
    qproperty-line-fg-data-xref-to-tail: #dda95b;
    qproperty-line-fg-error: #010101;
    qproperty-line-fg-line-prefix: #c0c0c0;
    qproperty-line-fg-opcode-byte: #b5cea8;
    qproperty-line-fg-extra-line: #9cdcfe;
    qproperty-line-fg-alt-opnd: #c563bd;
    qproperty-line-fg-hidden: #569CD6;
    qproperty-line-fg-libfunc: #9cdcfe;
    qproperty-line-fg-locvar: #CE9178;
    qproperty-line-fg-dummy-code-name: #f1f1f1;
    qproperty-line-fg-asm-directive: #9cdcfe;
    qproperty-line-fg-macro: #beb7ff;
    qproperty-line-fg-strlit-in-data: #d69d85;
    qproperty-line-fg-charlit-in-data: #d69d85;
    qproperty-line-fg-numlit-in-data: #b5cea8;
    qproperty-line-fg-keyword: #C586C0;
    qproperty-line-fg-register-name: #569cd6;
    qproperty-line-fg-import-name: #d8a0df;
    qproperty-line-fg-segment-name: #339999;
    qproperty-line-fg-dummy-unknown-name: #c8c8c8;
    qproperty-line-fg-code-name: #dcdca0;
    qproperty-line-fg-unknown-name: #569cd6;
    qproperty-line-fg-collapsed-line: #4ec9b0;
    qproperty-line-bg-default: #1e1e1e;
    qproperty-line-bg-selected: #264f78;
    qproperty-line-pfx-libfunc: #00ffff;
    qproperty-line-pfx-func: #d8d8d8;
    qproperty-line-pfx-insn: #a06161;
    qproperty-line-pfx-data: #9b9b9b;
    qproperty-line-pfx-unexplored: #c6c699;
    qproperty-line-pfx-extern: #d8a0df;
    qproperty-line-pfx-current-item: #d8d8d8;
    qproperty-line-pfx-current-line: #ecdcaa;
    qproperty-line-bg-bpt-enabled: #703434;
    qproperty-line-bg-bpt-disabled: #375437;
    qproperty-line-bg-bpt-unavailable: #808080;
    qproperty-graph-bg-top: #333334;
    qproperty-graph-bg-bottom: #333334;
    qproperty-graph-node-title-normal: #757575;
    qproperty-graph-node-title-selected: #000000;
    qproperty-graph-node-title-current: #007acc;
    qproperty-graph-node-frame-group: #9cdcfe;
    qproperty-graph-node-shadow: #151515;
    qproperty-graph-node-high1: #d8d8d8;
    qproperty-graph-node-high2: #b8d7a3;
    qproperty-graph-node-foreign: #d85050;
    qproperty-graph-edge-normal: #0883d4;
    qproperty-graph-edge-yes: #099b09;
    qproperty-graph-edge-no: #f31e4c;
    qproperty-graph-edge-high: #ff00ff;
    qproperty-graph-edge-current: #00ffff;
    qproperty-line-fg-patched-bytes: #d85050;
    qproperty-line-fg-unsaved-changes: #ecdcaa;
    qproperty-line-bg-hint: #4ec9b0;
    /* extra colors */
    qproperty-line-bgovl-extra-13: rgba(107, 74, 156, 0.4);
}

TCpuRegs {
    qproperty-register-defined: #eeeeee;
    qproperty-register-changed: #b8e8a3;
    qproperty-register-edited: #ffd68f;
    qproperty-register-unavailable: #d85050;
}

navband_t {
    qproperty-lib-function : #81C7D4;
    qproperty-function : #007FD4;
    qproperty-code : #58B2DC;
    qproperty-data : #23918d;
    qproperty-undefined : #A8D8B9;
    qproperty-extern : #0D5661;
    qproperty-lumina-function : #6D2E5B;

    qproperty-hl-lib-function : #81C7D4;
    qproperty-hl-function : #007FD4;
    qproperty-hl-code : #58B2DC;
    qproperty-hl-data : #23918d;
    qproperty-hl-undefined : #A8D8B9;
    qproperty-hl-extern : #0D5661;
    qproperty-hl-lumina-function : #6D2E5B;

    qproperty-error : #FF5B5B;
    qproperty-gap : black;
    qproperty-cursor : #FFFF7F;
    qproperty-auto-analysis-cursor : #FFAA00;

    qproperty-hl-outline : #FFFF7F;
}

MainMsgList {
    color: #cccccc;
    background-color: #1e1e1e;
}

TextArrows {
    qproperty-jump-in-function: #007FD4;
    qproperty-jump-external-to-function: #e70983;
    qproperty-jump-under-cursor: #42cf1f;
    qproperty-jump-target: #008000;
    qproperty-register-target: #007FD4;
}

text_area_t {
    qproperty-keyword1-fg: #d8a0df;
    qproperty-keyword1-weight: 0;
    qproperty-keyword1-italic: 0;
    qproperty-keyword2-fg: #4ec9b0;
    qproperty-keyword2-weight: 0;
    qproperty-keyword2-italic: 0;
    qproperty-keyword3-fg: #d85050;
    qproperty-string-fg: #d69d85;
    qproperty-comment-fg: #57a64a;
    qproperty-comment-weight: 0;
    qproperty-comment-italic: 0;
    qproperty-preprocessor-fg: #beb7ff;
    qproperty-preprocessor-weight: 0;
    qproperty-preprocessor-italic: 0;
    qproperty-number-fg: #b5cea8;
    qproperty-number-weight: 0;
    qproperty-number-italic: 0;
}

TChooser {
    qproperty-highlight-bg-default: #007FD4;
    qproperty-highlight-bg-selected: #c563bd;
}

CustomIDAMemo[debugging="true"] {
    qproperty-line-bgovl-current-ip: rgba(80, 160, 255, .2);
    qproperty-line-bg-default: #001f33;
    qproperty-graph-bg-top: #1e1e1e;
    qproperty-graph-bg-bottom: #1e1e1e;
    qproperty-line-fg-numlit-in-data: #a9e8a3;
    qproperty-line-fg-numlit-in-insn: #b8e8a3;
}

CustomIDAMemo[hints="true"] {
    qproperty-line-bg-default: #333333;
}


QSplitter {
    background: #252526;
}

/* Workaround QTBUG-13768 */
QSplitterHandle:hover {}

QSplitter::handle {
    /*image: url(images/splitter.png);*/
    background-color: #252526;
}

QSplitter::handle:pressed {
    background-color: #007FD4;
}

QSplitter::handle:horizontal {
    width: 2px;
}

QSplitter::handle:vertical {
    height: 2px;
}

IDADockWidget QSplitter,
IDADockWidget QSplitter:handle{
    background-color: #252526;
}

QFrame {
    border: 0;
}

QToolTip {
    border: 1px solid #3e3e3e;
    background: #1c1c1c;
    color: #cccccc;
    margin: 0;
    padding: 3px;
}


/* Special widget settings */

DockWidgetTitle[toolTip="Output"] {
    border: none;
    border-top: 1px solid #414141;
    border-bottom: 2px solid #000000;
    background-color: #1e1e1e;
    padding: 0;
    padding-left: -20px;

}

DockWidgetTitle[toolTip="Output"]>QWidget[height="16"] {
    border: none;
    margin: 0px;
    max-width: 0px;
    min-width: 0px;
    background-color: transparent;
}


DockWidgetTitle[toolTip="Output"]>QWidget[text="Output"] {
    color: #e7e7e7;
    padding: 0px 6px;
    text-transform: uppercase;
    border-bottom: 1px solid #e7e7e7;
    min-height: 30px;
    margin: 0;
}

TChooser>QDialogButtonBox>QPushButton{
    margin-bottom: 10px;
}

quick_filter_widget_t>QPushButton {
    background-color: #252526;
    max-width: 20px;
    min-width: 20px;
    padding: 0px 5px;
    margin: 0px;
    qproperty-icon: url("$RELPATH/icons/close.png");
}

quick_filter_widget_t>QPushButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
